.data-section {
  margin-top: 2rem;
  padding: 1rem 3rem;

  &__count {
    font-weight: 400;
    font-size: 70%;
  }

  h3 {
    margin-bottom: 3rem;
    text-transform: capitalize;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 868px) {
  .data-section {
    padding: 1rem;
    &__list {
      margin: auto;
    }
  }
}
